<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qilinlove.cardrivelog.mycardrivelog" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <meta-data
        android:name="com.parse.APPLICATION_ID"
        android:value="80Xg1M3w8AdAUkX3czOmRigG9bWB0XWb3RZGjo9j" />
    <meta-data
        android:name="com.parse.CLIENT_KEY"
        android:value="Gg8KQrQ8w5NLsTyPP9GuIOqtwjfQbtsUx28bp4NK" />
</manifest>
